  /*------restaurant first page-------*/
  
  
  

 body#body1 {
    background: url("http://www.designatsource.com/images/projects/dining/large/Rosies-Diner-Leeds-Restaurant-Interior-Design-6.jpg");
    background-size: 960px 940px; 
    background-repeat: no-repeat;
    background-position: 
    center; 
    width:960px;
    border: px solid #000000;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.header1 {color: white; 
    text-align: center; 
    font-family:Verdana;
    background-color:#8C001A; 
}

p#p1 {font-size: 35px;
     font-weight: bolder;
    
}


 a#l11 { text-decoration:none;
     color:#ffffff;
     font-family:Verdana;
     font-weight: bolder;
    }

.container1{ 
    width: 100%;
    border:1px; 
    margin:auto;
    height:100%;
    
    
}

ul#ul1{ text-align:center;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li#li1 {    display: inline-block;

   
}

li a.a1 {font-family: Verdana;font-weight:bold;
    display: block;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

li a:hover:not(.active).aa1 {color:#8C001A;
    background-color:#000000;
}

.active1 {color:blue;
    background-color:#8C001A;
}


div.side1 { display:relative; border-top-left-radius: 10px;
    text-indent:20px;
    text-align:left;
}

.side1  {
    display:inline-block; 
    color:white#ffffff;
    width:300px; 
    height: 200px; 
    opacity:;
    background: rgb(200, 54, 54); /* The Fallback */
    background: rgba(0, 0, 0, 0.2);
    }   

 


.square1 {list-style-type: none; font-size: larger;color:#ffffff; 
      text-indent:40px;
     font-family:Verdana;
     font-weight: bolder;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

ul#ul11 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    

div.main1 { color:#ffffff; 
text-align: center; 

    }

.main1  { display:inline-block;  
    width:500px; font-family: Verdana;  
    height:600px; color: #ffffff; 
     }
     
     #main1 {font-size: 0px;
         color:0;
     }
     

.footer1 {
    color:#ffffff; padding:.0px;
        text-align:center;
        background-color: black;
        clear:both;
}




/*---end of css All American Eatery---*/

/*------beginning of menu css---------*/

#body2 { 
  
    
    background-size: 960px 960px; 
    background-repeat: no-repeat;
    background-position: center; 
    width:960px;
    border: 0px solid;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
        }

    .wrap2 {
    width: 960px;
    margin: 0px auto;
    overflow:0;
}
   
    
        
.header2 {color: #ffffff;
    text-align: center; 
    font-family:Verdana;
    background-color:#000000;  
    background-color:#8C001A; 
 
        }
        
#p2 {font-size: 35px; 
    font-weight: bolder;
    
        }
    .p2 {background-color:#808080;
        font-size: 25px; 
        font-weight: bolder;
        color:  #FFFFFF;
        text-shadow: 2px 2px 4px #000000;
        text-align:center;
        position:relative;
        top:-15px;
        left:auto;
        }

.container2{ 
    width: 100%;
    border:1px; 
    margin:auto;
    height:auto;
    
     }
    
   
      
.nav2 {
    color: #FFFFFF;
    font-weight: bolder;
    font-family:Verdana;
    background-color:#000000;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none; 
    
    }
    
.nav2 li{
      text-decoration: none; 
      display:inline-block; 
      background-color: #000000;
      padding: 5px 10px;
   }


div.side2{  
    text-indent:0px;
   }

.side2{
    display:inline-block; 
    color:#FFFFFF;
    width:300px; 
    height: 480px; 
    background-color: #000000;
    opacity: 0.7;
     
    }   

 
.square2 {
       list-style-type: none; 
       font-size: larger;
       color: #FFFFFF; 
       text-decoration: none;
       font-family:Verdana;
       font-weight: bolder;
    
}

   #l {text-decoration: none; 
        color:#FFFFFF;
      }

 

.relative01 {
       width: 600px; 
       height:300px;/*----------box sizes---*/
       position: relative;
       right:-355px;
       top:-480px;
       border: 3px solid #000000;
       z-index: -101;
}

.relative102 {
    width: 600px;
    height:300px; 
    position: relative  ;
    right:-355Px;/*----------box positions---*/
    top:-427px;
    border: 3px solid #000000;
    z-index: -102;
}

.relative203 {
    width: 600px; 
    height:300px;
    position: relative;
    right:-355px;
    top:-376px;
    border: 3px solid #000000;
    z-index: -103;
}
 .relative304 {
     width: 600px;
     height:300px;
     position: relative;
     right:-355px;
    top:40px;
    border: 3px solid #000000;
    z-index: -104;
}

.relative405 {
    width: 600px; 
    height:300px;
    position: relative;
    right:-355px;
    top:-627px;
    border: 3px solid #000000;
    z-index: -105;
}

.footer2 {
        width:100%;    
        position:relative;
        text-align:center; top:-225px;
        left:0px;
        background-color: #000000;
        clear:both;color:#FFFFFF;
        
} 





/*---------end of menu css---------*/


/*----beginning of about us css----*/


 #body3 { 
  
    background-size: 960px 960px; 
    background-repeat: no-repeat;
    background-position: center; 
    width:960px;
    border: 1px solid 0;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
        }
    
    .wrap3{
        
    width: 960px;
    margin: 0px auto;
    overflow: 0;
}
    
    
    
        
.header3 {
          color: #FFFFFF; 
          text-align: center; 
          font-family:Verdana;
          background-color:#8C001A;  
          
 
        }
        
#p3 {
    font-size: 35px; 
    font-weight: bolder;
    
        }
        
    p.p3 {
        background-color:#000000;
        font-size: 25px; 
        font-weight: bolder; 
        color: #FFFFFF;
        text-shadow: px px .05px #FFFFFF;
        text-align:center;
        position:relative; 
        top:-15px;
        left:auto;
        }

container3{ 
    
    width: 100%;
    border:1px; 
    margin:auto;
    height:auto;
    
    
       }
    
    #l3 {text-decoration: none; 
        color:#FFFFFF;
      }
    
.nav3 {
    color:#FFFFFF;
    font-weight: bolder;
    font-family:Verdana;
    font-weight: bolder;
    font-family:Verdana;
    background-color:#000000;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none; 
    
    }
.nav3 li{
      text-decoration: none; 
      display:inline-block; 
      background-color: #000000;
      padding: 5px 10px;
    
   }


div.side3{  
    
   }

.side3{
    display:inline-block; 
    color:#FFFFFF;
    width:300px; 
    height:760px; 
    background-color: #000000;
     
    }   

 

    
.square3 {
       text-align:justify;
       list-style-type:none; 
       color: #FFFFFF; 
       text-decoration: none;
       padding:20px;
       font-family:Verdana;
       font-weight: bolder;
    
}

 

div.relative033 {
    width: 600px; 
    height:400px;/*-----------------------box sizes*/
    position: relative;
    right:-355px;
     background: rgb(200, 54, 54); /* The Fallback */
    background: rgba(0, 0, 0, 0.09); 
    top:-760px;
    border: 3px solid #000000;
    z-index: -101;
}

.relative133 {
     background: rgb(200, 54, 54); /* The Fallback */
    background: rgba(0, 0, 0, 0.09); 
    width: 600px; 
    height:400px; 
    position: relative;
    right:-355Px;/*--------------------box positions*/
    top:-710px;
    border: 3px solid #000000;
    z-index: -102;
}

.relative233 {
    width: 600px; 
    height:400px;
    position: relative;
    right:-355px;
    top:-660px;
    border: 3px solid #000000;
    background: black;
    z-index: -103;
}
 .relative333 {
     width: 600px;
     height:600px;
     position: relative;
     right:-355px;
     top:-245px;
    border: 3px solid #000000;
    z-index: -104;
}

.relative433 {
    width: 600px; 
    height:400px;
    position: relative;
    right:-355px;
    top:-1190px;
    border: 3px solid #000000;
    z-index: -105;
}


#h13 { 
      background-color:#000000;  
      color:#FFFFFF;
      text-align: center; 
      font-family:Verdana;
      font-weight: bolder;
     }

.footer3 {
    width:100%;  
    position:relative;
    text-align:center; top:-610px;
    left:0px;
    background-color: #000000;
    clear:both;
        
}

/*--------end of about us-----*/
          
/*----beginning of locations--*/


 body#body4 { 
  
    
    background-size: 960px 960px; 
    background-repeat: no-repeat;
    background-position: center; 
    width:960px;
    border: 1px solid blac;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
        }
    .wrap4   {
        width: 960px;
        margin: 0px auto;
        overflow:0 ;
}
    
    
        
.header4 {
      color: white; 
      text-align: center; 
      font-family:Verdana;
      background-color:#8C001A; 
     
      }
      
      
/*--- this p4 id is the font-size-weight of the addresses and header--*/
#p4 {font-size: 35px; font-weight: bolder;
    
        }
    p.p4 {background-color:#000000;
        font-size: 25px; font-weight: bolder; color: white;
        text-shadow: px px .05px white;
        text-align:center;
        position:relative; top:-15px;
        left:auto;
        }
    
    p.p24 {text-align:left;
        background-color: white; margin:20px;
    
    font-family: 'Lato', sans-serif; color: white;text-shadow: 2px 2px 5px #000000;

    }
    
container4{ 
    width: 100%;
    border:1px; 
    margin:auto;
    height:auto;
    
    
       }
    
    a#l4 {text-decoration: none; 
        color:white;
      }
    
.nav4 {
    color:white;
    font-weight: bolder;
    font-family:Verdana;
    background-color:black;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none; 
    
    }
.nav4 li{text-decoration: none; 
        display:inline-block; 
        background-color: black;
        padding: 5px 10px;
    
        }


div.side4{  
       text-indent:13px;
        }

.side4{
    display:inline-block; 
    color:white;
    width:300px; 
    height:920px; 
    border: 3px solid black;
    background: rgb(200, 54, 54); /* The Fallback */
    background: rgba(0, 0, 0, 0.09); 
    
}
   

       

 h1#h14 { 
      background-color:black;  
      color:white;
      text-align: center; 
      font-family:Verdana;
      font-weight: bolder;
     }


    
.square4 {
        text-align:left;
        list-style-type: none; 
        font-size:21px ;
        color: black; 
        text-decoration: none;
        margin:3px;
        padding:5px;font-family: 'Lato', sans-serif; 
        text-shadow: 2px 2px 5px black;
        font-family:Verdana;
        font-weight: bolder;
    
}

    

div.relative044 {
              width: 600px; 
              height:400px;/* box sizes*/
              position: relative;
              right:-355px;
              background:ack; 
              top:-925px;
    border: 3px solid blacK;
    z-index: -101;
}

div.relative144 {width: 600px; height:400px; 
position: relative;
right:-355Px;/*-------------------------box positions*/
top:-905px;
    border: 3px solid black;
    z-index: -102;
}

.relative244 {width: 600px; height:400px;
position: relative;
right:-355px;
top:-886px;
    border: 3px solid black;
    z-index: -103;
}
  div.relative344 {width: 600px; height:600px;
position: relative;
right:-355px;
top:-381px;
    border: 3px solid black;
    z-index: -104;
}

div.relative444 {width: 600px; height:400px;
position: relative;
right:-355px;
top:-1051px;
    border: 3px solid black;
    z-index: -105;
}

.footer4 {;width:100%;  position:relative;
        text-align:center; top:-875px;
        left:0px;
        background-color: black;
        clear:both;
        
}
/*----end of locations------------*/ 

/*----beginning of drinks css-----*/



#body5 {
    width:1500px;
    height:590px;
    background-image: url("photos/beer-1777934_960_720.png");
    background-size: 1500px 960px; 
    background-repeat: no-repeat;
    background-position: center; 
    width:1300px;
    margin-top: auto;
    margin-bottom:auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
        }
    
    
.ex5 { 
    font-family:Verdana;
    position: relative; 
    margin: auto;
    width: 100%; 
    top:100px;
    background-color:#000000;
    font-size: 100px; 
    font-weight: bolder; 
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #808080;
    text-align:center;
    margin-top: 10cm;
}

#l5 {
    font-size: 50px;
    text-decoration:none; 
    color:#000000;
    font-weight: bolder; 
}
